
@model SystemUser
@{

    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <!-- Page content -->
    <div id="content" class="col-md-12">
        <!-- content main container -->
        <div class="main">
            <!-- cards -->
            <div class="row cards">

                <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                    <div class="card card-redbrown hover">
                        <div class="front">

                            <div class="media">
                                <span class="pull-left">
                                    <i class="fa fa-users media-object"></i>
                                </span>

                                <div class="media-body">
                                    <small>New Users</small>
                                    <h2 class="media-heading animate-number" data-value="3659" data-animation-duration="1500">0</h2>
                                </div>
                            </div>

                            <div class="progress-list">
                                <div class="details">
                                    <div class="title">This month plan %</div>
                                </div>
                                <div class="status pull-right bg-transparent-black-1">
                                    <span class="animate-number" data-value="83" data-animation-duration="1500">0</span>%
                                </div>
                                <div class="clearfix"></div>
                                <div class="progress progress-little progress-transparent-black">
                                    <div class="progress-bar animate-progress-bar" data-percentage="83%"></div>
                                </div>
                            </div>

                        </div>
                        <div class="back">
                            <a href="#">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                                <span>Check Summary</span>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                    <div class="card card-blue hover">
                        <div class="front">

                            <div class="media">
                                <span class="pull-left">
                                    <i class="fa fa-shopping-cart media-object"></i>
                                </span>

                                <div class="media-body">
                                    <small>New Orders</small>
                                    <h2 class="media-heading animate-number" data-value="19214" data-animation-duration="1500">0</h2>
                                </div>
                            </div>

                            <div class="progress-list">
                                <div class="details">
                                    <div class="title">This month plan %</div>
                                </div>
                                <div class="status pull-right bg-transparent-black-1">
                                    <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                </div>
                                <div class="clearfix"></div>
                                <div class="progress progress-little progress-transparent-black">
                                    <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                </div>
                            </div>

                        </div>
                        <div class="back">
                            <a href="#">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                                <span>Check Summary</span>
                            </a>
                        </div>
                    </div>
                </div>



                <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                    <div class="card card-greensea hover">
                        <div class="front">

                            <div class="media">
                                <span class="pull-left">
                                    <i class="fa fa-usd media-object"></i>
                                </span>

                                <div class="media-body">
                                    <small>Sales</small>
                                    <h2 class="media-heading animate-number" data-value="169541" data-animation-duration="1500">0</h2>
                                </div>
                            </div>

                            <div class="progress-list">
                                <div class="details">
                                    <div class="title">This month plan %</div>
                                </div>
                                <div class="status pull-right bg-transparent-black-1">
                                    <span class="animate-number" data-value="42" data-animation-duration="1500">0</span>%
                                </div>
                                <div class="clearfix"></div>
                                <div class="progress progress-little progress-transparent-black">
                                    <div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
                                </div>
                            </div>

                        </div>
                        <div class="back">
                            <a href="#">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                                <span>Check Summary</span>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="card-container col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-slategray hover">
                        <div class="front">

                            <div class="media">
                                <span class="pull-left">
                                    <i class="fa fa-eye media-object"></i>
                                </span>

                                <div class="media-body">
                                    <small>Visits</small>
                                    <h2 class="media-heading animate-number" data-value="9634" data-animation-duration="1500">0</h2>
                                </div>
                            </div>

                            <div class="progress-list">
                                <div class="details">
                                    <div class="title">This month plan %</div>
                                </div>
                                <div class="status pull-right bg-transparent-black-1">
                                    <span class="animate-number" data-value="25" data-animation-duration="1500">0</span>%
                                </div>
                                <div class="clearfix"></div>
                                <div class="progress progress-little progress-transparent-black">
                                    <div class="progress-bar animate-progress-bar" data-percentage="25%"></div>
                                </div>
                            </div>

                        </div>
                        <div class="back">
                            <a href="#">
                                <i class="fa fa-bar-chart-o fa-4x"></i>
                                <span>Check Summary</span>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /cards -->
            <!-- row -->
            <div class="row">


                <!-- col 8 -->
                <div class="col-lg-8 col-md-12">




                    <!-- tile -->
                    <section class="tile transparent">




                        <!-- tile header -->
                        <div class="tile-header color transparent-black textured rounded-top-corners">
                            <h1><strong>Statistic</strong> Chart</h1>
                            <div class="controls">
                                <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <!-- /tile header -->
                        <!-- tile widget -->
                        <div class="tile-widget color transparent-black textured">
                            <div id="statistics-chart" class="chart statistics" style="height: 250px;"></div>
                        </div>
                        <!-- /tile widget -->
                        <!-- tile body -->
                        <div class="tile-body color transparent-white rounded-bottom-corners">
                            <div class="row">
                                <ul class="inline">

                                    <li class="col-md-8 col-sm-12 col-xs-12 text-center">

                                        <h4 class="underline text-left"><strong>Actual</strong> Statistics</h4>

                                        <div class="inner-container inline">
                                            <div data-percent="100" data-size="140" class="pie-chart inline" data-scale-color="false" data-track-color="rgba(0,0,0,0)" data-bar-color="#ffffff" data-line-width="5">
                                                <div class="text-center">
                                                    <i class="fa fa-usd fa-5x"></i>
                                                </div>
                                            </div>
                                            <p class="chart-overall text-center medium-thin uppercase"><span class="big-medium animate-number" data-value="6175" data-animation-duration="2500">0</span> Sales</p>
                                        </div>


                                        <div class="inner-container inline">
                                            <div data-percent="85" data-size="140" class="pie-chart inline" data-scale-color="false" data-track-color="rgba(0,0,0,0)" data-bar-color="rgba(0,0,0,.4)" data-line-width="5">
                                                <div class="text-center">
                                                    <span><i class="fa fa-eye fa-5x color-transparent-black"></i></span>
                                                </div>
                                            </div>
                                            <p class="chart-overall text-center medium-thin uppercase color-transparent-black"><span class="big-medium animate-number" data-value="8213" data-animation-duration="2500">0</span> Visits</p>
                                        </div>

                                    </li>

                                    <li class="col-md-4 col-sm-12 col-xs-12">
                                        <h4 class="underline"><strong>Visitors</strong> Statistics</h4>
                                        <ul class="progress-list">
                                            <li>
                                                <div class="details">
                                                    <div class="title">America</div>
                                                    <div class="description">Visitors from America</div>
                                                </div>
                                                <div class="status pull-right">
                                                    <span class="animate-number" data-value="40" data-animation-duration="1500">0</span>%
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-green animate-progress-bar" data-percentage="40%" style="width: 0%;"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="details">
                                                    <div class="title">Europe</div>
                                                    <div class="description">Visitors from Europe</div>
                                                </div>
                                                <div class="status pull-right">
                                                    <span class="animate-number" data-value="38" data-animation-duration="1000">0</span>%
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-cyan animate-progress-bar" data-percentage="35%" style="width: 0%;"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="details">
                                                    <div class="title">Asia</div>
                                                    <div class="description">Visitors from Asia</div>
                                                </div>
                                                <div class="status pull-right">
                                                    <span class="animate-number" data-value="12" data-animation-duration="800">0</span>%
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-amethyst animate-progress-bar" data-percentage="12%" style="width: 0%;"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="details">
                                                    <div class="title">Africa</div>
                                                    <div class="description">Visitors from Africa</div>
                                                </div>
                                                <div class="status pull-right">
                                                    <span class="animate-number" data-value="7" data-animation-duration="600">0</span>%
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-orange animate-progress-bar" data-percentage="7%" style="width: 0%;"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="details">
                                                    <div class="title">Other</div>
                                                </div>
                                                <div class="status pull-right">
                                                    <span class="animate-number" data-value="6" data-animation-duration="400">0</span>%
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-red animate-progress-bar" data-percentage="6%" style="width: 0%;"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /tile body -->



                    </section>
                    <!-- /tile -->
                    <!-- tile -->
                    <section class="tile color transparent-black">




                        <!-- tile header -->
                        <div class="tile-header">
                            <h1><strong>Projects</strong> Progress</h1>
                            <div class="search">
                                <input type="text" placeholder="Search...">
                            </div>
                            <div class="controls">
                                <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body no-vpadding">
                            <div class="table-responsive">
                                <table class="table table-custom table-sortable nomargin">
                                    <thead>
                                        <tr>
                                            <th class="sortable sort-numeric sort-asc">ID</th>
                                            <th class="sortable sort-alpha">Project</th>
                                            <th class="sortable">Priority</th>
                                            <th class="sortable sort-amount">Status</th>
                                            <th class="text-right">Chart</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Graphic Layout for client</td>
                                            <td class="color-red priority">High priority</td>
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent"><span class="animate-number" data-value="50" data-animation-duration="1500">0</span>%</div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="50%"></div>
                                                </div>
                                            </td>
                                            <td class="text-right"><span id="projectbar1">87,85,42,90,70,55,82,68</span></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Make website responsive</td>
                                            <td class="color-green priority">Low priority</td>
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent"><span class="animate-number" data-value="13" data-animation-duration="1500">0</span>%</div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="13%"></div>
                                                </div>
                                            </td>
                                            <td class="text-right"><span id="projectbar2">87,99,52,93,42,86,51,93</span></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Clean css/html/js code</td>
                                            <td class="color-red priority">High priority</td>
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent"><span class="animate-number" data-value="76" data-animation-duration="1500">0</span>%</div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="76%"></div>
                                                </div>
                                            </td>
                                            <td class="text-right"><span id="projectbar3">74,77,82,91,69,63,46,42</span></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Database Optimization</td>
                                            <td class="color-orange priority">Normal priority</td>
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent"><span class="animate-number" data-value="38" data-animation-duration="1500">0</span>%</div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="38%"></div>
                                                </div>
                                            </td>
                                            <td class="text-right"><span id="projectbar4">52,45,76,74,77,57,65,86</span></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Database Migration</td>
                                            <td class="color-green priority">Low priority</td>
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent"><span class="animate-number" data-value="9" data-animation-duration="1500">0</span>%</div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="9%"></div>
                                                </div>
                                            </td>
                                            <td class="text-right"><span id="projectbar5">53,70,47,96,62,49,69,55</span></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Email server backup</td>
                                            <td class="color-orange priority">Normal priority</td>
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent"><span class="animate-number" data-value="29" data-animation-duration="1500">0</span>%</div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="29%"></div>
                                                </div>
                                            </td>
                                            <td class="text-right"><span id="projectbar6">69,80,85,96,67,58,75,82</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /tile body -->
                        <!-- tile footer -->
                        <div class="tile-footer text-center">
                            <ul class="pagination pagination-sm nomargin pagination-custom">
                                <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- /tile footer -->



                    </section>
                    <!-- /tile -->


                </div>
                <!-- /col 8 -->
                <!-- col 4 -->
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">




                    <!-- tile -->
                    <section class="tile color transparent-black textured">




                        <!-- tile header -->
                        <div class="tile-header">
                            <h1><strong>Server</strong> Load</h1>
                            <div class="controls">
                                <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <!-- /tile header -->
                        <!-- tile widget -->
                        <div class="tile-widget">

                            <div class="progress-list with-heading">
                                <div class="details">
                                    <div class="title"><h2><i class="fa fa-hdd-o"></i> <span class="animate-number" data-value="394" data-animation-duration="1600">0</span> GB</h2></div>
                                </div>
                                <div class="status pull-right bg-transparent-black-1">
                                    <span class="animate-number" data-value="42" data-animation-duration="1500">0</span>%
                                </div>
                                <div class="clearfix"></div>
                                <div class="progress progress-little progress-transparent-black" style="margin-bottom: 5px">
                                    <div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
                                </div>
                            </div>
                            <p class="description"><strong>394GB</strong> used of <strong class="white-text">2,048GB</strong> on File Server</p>
                        </div>
                        <!-- /tile widget -->
                        <!-- tile body -->
                        <div class="tile-body paddingtop">
                            <div id="serverload-chart"></div>
                        </div>
                        <!-- /tile body -->



                    </section>
                    <!-- /tile -->
                    <!-- tile -->
                    <section class="tile color transparent-black">



                        <!-- tile header -->
                        <div class="tile-header">
                            <h1><strong>Browser</strong> Usage</h1>
                            <div class="controls">
                                <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">
                            <div id="browser-usage" style="height: 230px;" class="morris-chart"></div>
                            <ul class="inline text-center chart-legend">
                                <li><span class="badge badge-outline" style="border-color: #00a3d8"></span> Chrome <small>25%</small>,</li>
                                <li><span class="badge badge-outline" style="border-color: #1693A5"></span> Other <small>25%</small>,</li>
                                <li><span class="badge badge-outline" style="border-color: #2fbbe8"></span> Safari <small>20%</small>,</li>
                                <li><span class="badge badge-outline" style="border-color: #72cae7"></span> Firefox <small>15%</small>,</li>
                                <li><span class="badge badge-outline" style="border-color: #ffc100"></span> Internet Explorer <small>10%</small>,</li>
                                <li><span class="badge badge-outline" style="border-color: #d9544f"></span> Opera <small>5%</small></li>
                            </ul>
                        </div>
                        <!-- /tile body -->




                    </section>
                    <!-- /tile -->
                    <!-- tile -->
                    <section class="tile transparent">




                        <!-- tile header -->
                        <div class="tile-header color redbrown rounded-top-corners text-center">
                            <button class="btn pull-left btn-black-transparent" type="button"><i class="fa fa-caret-square-o-down"></i></button>
                            <h2><strong>Todo</strong> List</h2>
                            <div class="controls">
                                <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body color transparent-black rounded-bottom-corners">
                            <input type="text" placeholder="Add new todo..." class="w100p bottommargin">
                            <ul class="nolisttypes" id="todolist">
                                <li>
                                    <div class="checkbox check-transparent">
                                        <input type="checkbox" value="1" id="todo-01">
                                        <label for="todo-01">Make a backup</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox check-transparent">
                                        <input type="checkbox" checked="checked" value="1" id="todo-02">
                                        <label for="todo-02" class="done">Send e-mail to Ici</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox check-transparent">
                                        <input type="checkbox" value="1" id="todo-03">
                                        <label for="todo-03">Buy tickets</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox check-transparent">
                                        <input type="checkbox" value="1" id="todo-04">
                                        <label for="todo-04">Resolve issues</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox check-transparent">
                                        <input type="checkbox" value="1" id="todo-05">
                                        <label for="todo-05">Compile new version</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox check-transparent">
                                        <input type="checkbox" value="1" id="todo-06">
                                        <label for="todo-06">Upload new version</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /tile body -->



                    </section>
                    <!-- /tile -->


                </div>
                <!-- /col 4 -->


            </div>
            <!-- /row -->
            <!-- row -->
            <div class="row">




                <!-- col 6 -->
                <div class="col-md-6">


                    <!-- tile -->
                    <section class="tile transparent recent-activity">




                        <!-- tile header -->
                        <div class="tile-header transparent">
                            <h1><strong>Recent</strong> Activity</h1>
                            <div class="controls">
                                <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <!-- /tile header -->
                        <!-- tile widget -->
                        <div class="tile-widget color transparent-black rounded-top-corners nopadding">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tabdrop">
                                <li class="active"><a href="#users-tab" data-toggle="tab">Users</a></li>
                                <li><a href="#orders-tab" data-toggle="tab">Orders</a></li>
                                <li><a href="#messages-tab" data-toggle="tab">Messages</a></li>
                                <li><a href="#tasks-tab" data-toggle="tab">Tasks</a></li>
                                <li><a href="#comments-tab" data-toggle="tab">Comments</a></li>
                            </ul>
                            <!-- / Nav tabs -->
                        </div>
                        <!-- /tile widget -->
                        <!-- tile body -->
                        <div class="tile-body tab-content nopadding rounded-bottom-corners">
                            <!-- Tab panes -->

                            <ul id="users-tab" class="tab-pane fade in active">
                                <li>
                                    <img src="assets/images/peter-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Peter <strong>Kay</strong></span>
                                    <span class="subject">has been <strong>unbanned</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 15 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/arnold-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Arnold <strong>Karlsberg</strong></span>
                                    <span class="subject">has been <strong>unbanned</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 1 hour ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/arnold-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Arnold <strong>Karlsberg</strong></span>
                                    <span class="subject">has been <strong>banned</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 2 hours ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/ici-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Ing. Imrich <strong>Kamarel</strong></span>
                                    <span class="subject">has been <strong>updated</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 4 hours ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/arnold-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Arnold <strong>Karlsberg</strong></span>
                                    <span class="subject">has been <strong>registered</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 8 hours ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/peter-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Peter <strong>Kay</strong></span>
                                    <span class="subject">has been <strong>banned</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/peter-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Peter <strong>Kay</strong></span>
                                    <span class="subject">has been <strong>registered</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> yesterday</span>
                                </li>
                            </ul>

                            <ul id="orders-tab" class="tab-pane fade">
                                <li>
                                    <img src="assets/images/arnold-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Arnold <strong>Karlsberg</strong></span>
                                    <span class="subject">send new order <strong>OR_00012014</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 15 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/george-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">George <strong>McCain</strong></span>
                                    <span class="subject">change order <strong>OR_02172013</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 27 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/george-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">George <strong>McCain</strong></span>
                                    <span class="subject">send new order <strong>OR_02172013</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 35 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/peter-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Peter <strong>Kay</strong></span>
                                    <span class="subject">cancelled order <strong>OR_02162013</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 2 hours ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/peter-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Peter <strong>Kay</strong></span>
                                    <span class="subject">send new order <strong>OR_02162013</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 3 hours ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/ici-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Ing. Imrich <strong>Kamarel</strong></span>
                                    <span class="subject">send new order <strong>OR_02152013</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 5 hours ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/ici-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Ing. Imrich <strong>Kamarel</strong></span>
                                    <span class="subject">send new order <strong>OR_02142013</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 5 hours ago</span>
                                </li>
                            </ul>

                            <ul id="messages-tab" class="tab-pane fade">
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">received new message from <strong>Peter Kay</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 15 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">received new message from <strong>Peter Kay</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 30 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">received new message from <strong>Ing. Imrich Kamarel</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 35 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">received new message from <strong>Arnold Arnold</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 42 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">received new message from <strong>George McCain</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 1 hour ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">received new message from <strong>Ing. Imrich Kamarel</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 1 hour ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">received new message from <strong>Ing. Imrich Kamarel</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 1 hour ago</span>
                                </li>
                            </ul>

                            <ul id="tasks-tab" class="tab-pane fade">
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">cancelled task <strong>Get drunk</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 15 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">finished task <strong>Gifts!</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 59 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">finished task <strong>Make backup</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 3 hours ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">have a new task <strong>Gifts!</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> yesterday</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">finished task <strong>Send emails</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> yesterday</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">have a new task <strong>Send emails</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> yesterday</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab"><strong>You</strong></span>
                                    <span class="subject">have a new task <strong>Make backup</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> yesterday</span>
                                </li>
                            </ul>

                            <ul id="comments-tab" class="tab-pane fade">
                                <li>
                                    <img src="assets/images/arnold-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Arnold <strong>Karlsberg</strong></span>
                                    <span class="subject">deleted comment <strong>CM_00019</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 5 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/arnold-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Arnold <strong>Karlsberg</strong></span>
                                    <span class="subject">posted a new comment <strong>CM_00019</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 8 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab">John <strong>Douey</strong></span>
                                    <span class="subject">posted a new comment <strong>CM_00018</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 9 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/peter-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Peter <strong>Kay</strong></span>
                                    <span class="subject">posted a new comment <strong>CM_00017</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 18 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/arnold-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Ing. Imrich <strong>Kamarel</strong></span>
                                    <span class="subject">updated comment <strong>CM_00016</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 25 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/arnold-avatar.jpg" class="w35" alt>
                                    <span class="user font-slab">Ing. Imrich <strong>Kamarel</strong></span>
                                    <span class="subject">posted a new comment <strong>CM_00016</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 42 minutes ago</span>
                                </li>
                                <li>
                                    <img src="assets/images/profile-photo.jpg" class="w35" alt>
                                    <span class="user font-slab">John <strong>Douey</strong></span>
                                    <span class="subject">posted a new comment <strong>CM_00015</strong></span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 56 minutes ago</span>
                                </li>
                            </ul>

                            <!-- / Tab panes -->
                        </div>
                        <!-- /tile body -->



                    </section>
                    <!-- /tile -->


                </div>
                <!-- /col 6 -->
                <!-- col 6 -->
                <div class="col-md-6">



                    <!-- tile -->
                    <section class="tile transparent">




                        <!-- tile header -->
                        <div class="tile-header transparent">
                            <h1><strong>Quick</strong> Message</h1>
                            <div class="controls">
                                <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <!-- /tile header -->
                        <!-- tile widget -->
                        <div class="tile-widget color transparent-black rounded-top-corners">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="message-to" class="col-sm-2 control-label font-slab">Recipients</label>
                                    <div class="col-sm-10">
                                        <select data-placeholder="Select recipients..." multiple="" tabindex="3" class="chosen-select form-control chosen-transparent" id="message-to">
                                            <option value="http://tattek.com/minimal/ici@gmail.com">ici@gmail.com</option>
                                            <option value="http://tattek.com/minimal/johny@gmail.com">johny@gmail.com</option>
                                            <option value="http://tattek.com/minimal/arnie@gmail.com">arnie@gmail.com</option>
                                            <option value="http://tattek.com/minimal/pete@gmail.com">pete@gmail.com</option>
                                            <option value="http://tattek.com/minimal/gorge@gmail.com">gorge@gmail.com</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group no-bottom-margin">
                                    <label for="subject" class="col-sm-2 control-label font-slab">Subject</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control transparent" id="subject" placeholder="Type subject here...">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /tile widget -->
                        <!-- tile body -->
                        <div class="tile-body nopadding">
                            <div id="quick-message-content"></div>
                        </div>
                        <!-- /tile body -->
                        <!-- tile footer -->
                        <div class="tile-footer rounded-bottom-corners text-right">
                            <a class="submit font-slab" href="#"><strong>Send</strong> message <i class="fa fa-comment"></i></a>
                        </div>
                        <!-- /tile footer -->
                        Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>


                    </section>
                    <!-- /tile -->




                </div>
                <!-- /col 6 -->




            </div>
            <!-- /row -->



        </div>
        <!-- /content container -->






    </div>
    <!-- Page content end -->
</body>
</html>