<li class="dropdown divided">

    <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope"></i>
        <span class="label label-transparent-black">1</span>
    </a>

    <ul class="dropdown-menu wider arrow nopadding messages">
        <li><h1>你有 <strong>1</strong> 条新的消息</h1></li>
        <li>
            <a class="cyan" href="#">
                <div class="profile-photo">
                    <img src="~/assets/minimal/images/ici-avatar.jpg" alt />
                </div>
                <div class="message-info">
                    <span class="sender">Ing. Imrich Kamarel</span>
                    <span class="time">12 mins</span>
                    <div class="message-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</div>
                </div>
            </a>
        </li>

        <li>
            <a class="green" href="#">
                <div class="profile-photo">
                    <img src="~/assets/minimal/images/arnold-avatar.jpg" alt />
                </div>
                <div class="message-info">
                    <span class="sender">Arnold Karlsberg</span>
                    <span class="time">1 hour</span>
                    <div class="message-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                <div class="profile-photo">
                    <img src="~/assets/minimal/images/profile-photo.jpg" alt />
                </div>
                <div class="message-info">
                    <span class="sender">John Douey</span>
                    <span class="time">3 hours</span>
                    <div class="message-content">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</div>
                </div>
            </a>
        </li>

        <li>
            <a class="red" href="#">
                <div class="profile-photo">
                    <img src="~/assets/minimal/images/peter-avatar.jpg" alt />
                </div>
                <div class="message-info">
                    <span class="sender">Peter Kay</span>
                    <span class="time">5 hours</span>
                    <div class="message-content">Ut enim ad minim veniam, quis nostrud exercitation</div>
                </div>
            </a>
        </li>

        <li>
            <a class="orange" href="#">
                <div class="profile-photo">
                    <img src="~/assets/minimal/images/george-avatar.jpg" alt />
                </div>
                <div class="message-info">
                    <span class="sender">George McCain</span>
                    <span class="time">6 hours</span>
                    <div class="message-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                </div>
            </a>
        </li>


        <li class="topborder"><a href="#">Check all messages <i class="fa fa-angle-right"></i></a></li>
    </ul>

</li>
