@model List<OP.Model.SysModules>
<div class="easyui-accordion" fit="true">
    @{
        var arRootItems = from findparen in Model
                          where findparen.PID == -1
                          orderby findparen.ViewOrder
                          select findparen;
        foreach (var item in arRootItems)
        {
            <div title="@item.ModuleName" data-options="href:'@Url.Action("ModuleTree", "Account", new { @parentId = item.ID })'" style="padding:10px">
            </div>
        }
    }

</div>