<li class="dropdown divided user" id="current-user">
    <div class="profile-photo">
        <img src="~/assets/minimal/images/profile-photo.jpg" alt="用户名" />
    </div>
    <a class="dropdown-toggle options" data-toggle="dropdown" href="#">
        用户名 <i class="fa fa-caret-down"></i>
    </a>

    <ul class="dropdown-menu wide arrow settings">
        <li><h1>一般设置</h1></li>
        <li>
            <h3>背景选择:</h3>
            <ul id="color-schemes">
                <li><a href="#" class="bg-1"></a></li>
                <li><a href="#" class="bg-2"></a></li>
                <li><a href="#" class="bg-3"></a></li>
                <li><a href="#" class="bg-4"></a></li>
                <li><a href="#" class="bg-5"></a></li>
                <li><a href="#" class="bg-6"></a></li>
            </ul>

            @*<div class="form-group videobg-check">
                <label class="col-xs-8 control-label">Video BG</label>
                <div class="col-xs-4 control-label">
                    <div class="onoffswitch greensea small">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="videobg-check">
                        <label class="onoffswitch-label" for="videobg-check">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>*@

        </li>

        @*<li class="divider"></li>

        <li>
            <a href="#"><i class="fa fa-user"></i> Profile</a>
        </li>

        <li>
            <a href="#"><i class="fa fa-calendar"></i> Calendar</a>
        </li>

        <li>
            <a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge badge-red" id="user-inbox">3</span></a>
        </li>

        <li class="divider"></li>*@

        <li>
            <a href="#"><i class="fa fa-power-off"></i> 退出系统</a>
        </li>
    </ul>
</li>
