<li class="dropdown divided">

    <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
        <i class="fa fa-bell"></i>
        <span class="label label-transparent-black">3</span>
    </a>

    <ul class="dropdown-menu wide arrow nopadding bordered">
        <li><h1>你有 <strong>3</strong> 个新的注意事项</h1></li>

        <li>
            <a href="#">
                <span class="label label-green"><i class="fa fa-user"></i></span>
                New user registered.
                <span class="small">18 mins</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="label label-red"><i class="fa fa-power-off"></i></span>
                Server down.
                <span class="small">27 mins</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="label label-orange"><i class="fa fa-plus"></i></span>
                New order.
                <span class="small">36 mins</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="label label-cyan"><i class="fa fa-power-off"></i></span>
                Server restared.
                <span class="small">45 mins</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="label label-amethyst"><i class="fa fa-power-off"></i></span>
                Server started.
                <span class="small">50 mins</span>
            </a>
        </li>

        <li><a href="#">Check all notifications <i class="fa fa-angle-right"></i></a></li>
    </ul>

</li>
